# Auto detect text files and perform LF normalization
* text=auto
# Proyecto de examen
* text=Este repositorio forma parte del examen de control de versiones con Git.
## Informacion adicional 
Autor= Agustin Paz
Fecha= 09/10/2025